---
// Captura el ID desde la URL
import ExploreIcon from "../../../icons/ExploreIcon.astro";
import HomeIcon from "../../../icons/HomeIcon.astro";
import LogoMonoIcon from "../../../icons/LogoMonoIcon.astro";
import NotebookIcon from "../../../icons/NotebookIcon.astro";
import UserConfigIcon from "../../../icons/UserConfigIcon.astro";
import CampusLayout from "../../../layouts/CampusLayout.astro";
import courseData from "../../../courseData";
import Course from "../../../components/Course.astro";
import LogoutIcon from "../../../icons/LogoutIcon.astro";
const { certificateId } = Astro.params;

let userData = null;
let cordCourse = null;

// Función para obtener datos del certificado al cargar el componente en el cliente
async function fetchCertificate() {
    try {
        const response = await fetch(
            `https://certificados-backend.onrender.com/api/certificates/validate/${certificateId}`,
        );
        if (response.ok) {
            userData = await response.json();
            cordCourse = courseData.find(
                (course) => course.course == userData.certificate.course,
            );
        } else {
            console.error("Certificado no encontrado o error en la solicitud.");
        }
    } catch (error) {
        console.error("Error al obtener los datos del certificado:", error);
    }
}

// Ejecuta la función al cargar en el cliente
await fetchCertificate();
---

<CampusLayout title="Metropedia">
    <!-- ========== MOBILE NAVITATION ========== -->

    <div
        class="fixed md:hidden bottom-0 left-0 z-50 w-full h-16 bg-white border-t border-neutral-200 dark:bg-neutral-800 dark:border-neutral-600"
    >
        <div class="grid h-full max-w-lg grid-cols-4 mx-auto font-medium">
            <button
                type="button"
                class="inline-flex flex-col items-center justify-center px-5 hover:bg-neutral-50 dark:hover:bg-neutral-800 group"
            >
                <HomeIcon
                    class="w-5 h-5 mb-2 text-neutral-500 dark:text-neutral-400 group-hover:text-primary dark:group-hover:text-primary"
                    aria-hidden="true"
                />
                <span
                    class="text-sm text-neutral-500 dark:text-neutral-400 group-hover:text-primary dark:group-hover:text-primary"
                    >Inicio</span
                >
            </button>
            <button
                type="button"
                class="inline-flex flex-col items-center justify-center px-5 hover:bg-neutral-50 dark:hover:bg-neutral-800 group"
            >
                <ExploreIcon
                    class="w-5 h-5 mb-2 text-neutral-500 dark:text-neutral-400 group-hover:text-primary dark:group-hover:text-primary"
                    aria-hidden="true"
                />
                <span
                    class="text-sm text-neutral-500 dark:text-neutral-400 group-hover:text-primary dark:group-hover:text-primary"
                    >Explorar</span
                >
            </button>
            <button
                type="button"
                class="inline-flex flex-col items-center justify-center px-5 hover:bg-neutral-50 dark:hover:bg-neutral-800 group"
            >
                <UserConfigIcon
                    class="w-5 h-5 mb-2 text-neutral-500 dark:text-neutral-400 group-hover:text-primary dark:group-hover:text-primary"
                />
                <span
                    class="text-sm text-neutral-500 dark:text-neutral-400 group-hover:text-primary dark:group-hover:text-primary"
                    >Cuenta</span
                >
            </button>
            <button
                type="button"
                class="inline-flex flex-col items-center justify-center px-5 hover:bg-neutral-50 dark:hover:bg-neutral-800 group"
            >
                <NotebookIcon
                    class="w-5 h-5 mb-2 text-neutral-500 dark:text-neutral-400 group-hover:text-primary dark:group-hover:text-primary"
                    aria-hidden="true"
                />
                <span
                    class="text-sm text-neutral-500 dark:text-neutral-400 group-hover:text-primary dark:group-hover:text-primary"
                    >Cursos</span
                >
            </button>
        </div>
    </div>

    <!-- ========== HEADER ========== -->
    <header
        class="sticky top-0 inset-x-0 flex flex-wrap md:justify-start md:flex-nowrap z-[48] w-full bg-white text-sm py-2.5 lg:ps-[260px] dark:bg-neutral-800 dark:border-neutral-700"
    >
        <nav class="px-4 sm:px-6 flex basis-full items-center w-full mx-auto">
            <div class="me-5 lg:me-0 lg:hidden">
                <!-- Logo -->
                <a
                    class="flex-none rounded-md text-xl inline-block font-semibold focus:outline-none focus:opacity-80"
                    href="#"
                    aria-label="Preline"
                >
                    <LogoMonoIcon class="w-32 h-auto" />
                </a>
                <!-- End Logo -->
            </div>

            <div
                class="w-full flex items-center justify-end ms-auto md:justify-between gap-x-1 md:gap-x-3"
            >
                <div class="hidden md:block">
                    <!-- Search Input -->
                    <div class="relative border rounded-lg border-neutral-400">
                        <div
                            class="absolute inset-y-0 start-0 flex items-center pointer-events-none z-20 ps-3.5"
                        >
                            <svg
                                class="shrink-0 size-4 text-neutral-400 dark:dark:text-white/60"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                ><circle cx="11" cy="11" r="8"></circle><path
                                    d="m21 21-4.3-4.3"></path></svg
                            >
                        </div>
                        <input
                            type="text"
                            class="py-2 ps-10 pe-16 block w-full bg-white border-neutral-200 rounded-lg text-sm focus:outline-none focus:border-primary focus:ring-primary disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder:text-neutral-400 dark:focus:ring-neutral-600"
                            placeholder="Search"
                        />
                        <div
                            class="hidden absolute inset-y-0 end-0 flex items-center pointer-events-none z-20 pe-1"
                        >
                            <button
                                type="button"
                                class="inline-flex shrink-0 justify-center items-center size-6 rounded-full text-neutral-500 hover:text-primary focus:outline-none focus:text-primary dark:text-neutral-500 dark:hover:text-primary dark:focus:text-primary"
                                aria-label="Close"
                            >
                                <span class="sr-only">Close</span>
                                <svg
                                    class="shrink-0 size-4"
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    ><circle cx="12" cy="12" r="10"
                                    ></circle><path d="m15 9-6 6"></path><path
                                        d="m9 9 6 6"></path></svg
                                >
                            </button>
                        </div>
                        <div
                            class="absolute inset-y-0 end-0 flex items-center pointer-events-none z-20 pe-3 text-neutral-400"
                        >
                            <svg
                                class="shrink-0 size-3 text-neutral-400 dark:dark:text-white/60"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                ><path
                                    d="M15 6v12a3 3 0 1 0 3-3H6a3 3 0 1 0 3 3V6a3 3 0 1 0-3 3h12a3 3 0 1 0-3-3"
                                ></path></svg
                            >
                            <span class="mx-1">
                                <svg
                                    class="shrink-0 size-3 text-neutral-400 dark:dark:text-white/60"
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    ><path d="M5 12h14"></path><path
                                        d="M12 5v14"></path></svg
                                >
                            </span>
                            <span class="text-xs">/</span>
                        </div>
                    </div>
                    <!-- End Search Input -->
                </div>

                <div class="flex flex-row items-center justify-end gap-1">
                    <button
                        type="button"
                        class="md:hidden size-[38px] relative inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full border border-transparent text-neutral-800 hover:bg-neutral-100 focus:outline-none focus:bg-neutral-100 disabled:opacity-50 disabled:pointer-events-none dark:dark:text-white dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
                    >
                        <svg
                            class="shrink-0 size-4"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            ><circle cx="11" cy="11" r="8"></circle><path
                                d="m21 21-4.3-4.3"></path></svg
                        >
                        <span class="sr-only">Search</span>
                    </button>

                    <button
                        type="button"
                        class="size-[38px] relative inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full border border-transparent text-neutral-800 hover:bg-neutral-100 focus:outline-none focus:bg-neutral-100 disabled:opacity-50 disabled:pointer-events-none dark:dark:text-white dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
                    >
                        <svg
                            class="shrink-0 size-4"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            ><path d="M6 8a6 6 0 0 1 12 0c0 7 3 9 3 9H3s3-2 3-9"
                            ></path><path d="M10.3 21a1.94 1.94 0 0 0 3.4 0"
                            ></path></svg
                        >
                        <span class="sr-only">Notifications</span>
                    </button>

                    <button
                        type="button"
                        class="size-[38px] relative inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full border border-transparent text-neutral-800 hover:bg-neutral-100 focus:outline-none focus:bg-neutral-100 disabled:opacity-50 disabled:pointer-events-none dark:dark:text-white dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
                    >
                        <svg
                            class="shrink-0 size-4"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            ><path d="M22 12h-4l-3 9L9 3l-3 9H2"></path></svg
                        >
                        <span class="sr-only">Activity</span>
                    </button>

                    <!-- Dropdown -->
                    <div
                        class="hs-dropdown [--placement:bottom-right] relative inline-flex"
                    >
                        <button
                            id="hs-dropdown-account"
                            type="button"
                            class="size-[38px] inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full border border-transparent text-neutral-800 focus:outline-none disabled:opacity-50 disabled:pointer-events-none dark:dark:text-white"
                            aria-haspopup="menu"
                            aria-expanded="false"
                            aria-label="Dropdown"
                        >
                            <img
                                id="avatar-image"
                                class="shrink-0 size-[38px] rounded-full"
                                src=`https://openclipart.org/image/2000px/247319`
                                alt="Avatar"
                            />
                        </button>

                        <div
                            class="hs-dropdown-menu transition-[opacity,margin] duration hs-dropdown-open:opacity-100 opacity-0 hidden min-w-60 bg-white shadow-md rounded-lg mt-2 dark:bg-neutral-800 dark:border dark:border-neutral-700 dark:divide-neutral-700 after:h-4 after:absolute after:-bottom-4 after:start-0 after:w-full before:h-4 before:absolute before:-top-4 before:start-0 before:w-full"
                            role="menu"
                            aria-orientation="vertical"
                            aria-labelledby="hs-dropdown-account"
                        >
                            <div
                                class="py-3 px-5 bg-neutral-100 rounded-t-lg dark:bg-neutral-700"
                            >
                                <p
                                    class="text-sm text-neutral-500 dark:text-neutral-500"
                                >
                                    Correo de ingreso
                                </p>
                                <p
                                    class="text-sm font-medium text-neutral-800 dark:text-neutral-200"
                                >
                                    {userData.email}
                                </p>
                            </div>
                            <div class="p-1.5 space-y-0.5">
                                <a
                                    class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-neutral-800 hover:bg-neutral-100 focus:outline-none focus:bg-neutral-100 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-300 dark:focus:bg-neutral-700 dark:focus:text-neutral-300"
                                    href="#"
                                >
                                    <svg
                                        class="shrink-0 size-4"
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="24"
                                        height="24"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        stroke="currentColor"
                                        stroke-width="2"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        ><path
                                            d="M6 8a6 6 0 0 1 12 0c0 7 3 9 3 9H3s3-2 3-9"
                                        ></path><path
                                            d="M10.3 21a1.94 1.94 0 0 0 3.4 0"
                                        ></path></svg
                                    >
                                    Newsletter
                                </a>
                                <a
                                    class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-neutral-800 hover:bg-neutral-100 focus:outline-none focus:bg-neutral-100 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-300 dark:focus:bg-neutral-700 dark:focus:text-neutral-300"
                                    href="#"
                                >
                                    <svg
                                        class="shrink-0 size-4"
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="24"
                                        height="24"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        stroke="currentColor"
                                        stroke-width="2"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        ><path
                                            d="M6 2 3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4Z"
                                        ></path><path d="M3 6h18"></path><path
                                            d="M16 10a4 4 0 0 1-8 0"
                                        ></path></svg
                                    >
                                    Purchases
                                </a>
                                <a
                                    class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-neutral-800 hover:bg-neutral-100 focus:outline-none focus:bg-neutral-100 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-300 dark:focus:bg-neutral-700 dark:focus:text-neutral-300"
                                    href="#"
                                >
                                    <svg
                                        class="shrink-0 size-4"
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="24"
                                        height="24"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        stroke="currentColor"
                                        stroke-width="2"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        ><path
                                            d="M4 14.899A7 7 0 1 1 15.71 8h1.79a4.5 4.5 0 0 1 2.5 8.242"
                                        ></path><path d="M12 12v9"></path><path
                                            d="m8 17 4 4 4-4"></path></svg
                                    >
                                    Downloads
                                </a>
                                <a
                                    class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-neutral-800 hover:bg-neutral-100 focus:outline-none focus:bg-neutral-100 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-300 dark:focus:bg-neutral-700 dark:focus:text-neutral-300"
                                    href="#"
                                >
                                    <svg
                                        class="shrink-0 size-4"
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="24"
                                        height="24"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        stroke="currentColor"
                                        stroke-width="2"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        ><path
                                            d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"
                                        ></path><circle cx="9" cy="7" r="4"
                                        ></circle><path
                                            d="M22 21v-2a4 4 0 0 0-3-3.87"
                                        ></path><path
                                            d="M16 3.13a4 4 0 0 1 0 7.75"
                                        ></path></svg
                                    >
                                    Team Account
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- End Dropdown -->
                </div>
            </div>
        </nav>
    </header>
    <!-- ========== END HEADER ========== -->
    <!-- ========== SIDER ========== -->
    <div
        class="sticky top-0 inset-x-0 z-20 bg-white border-y px-4 sm:px-6 lg:px-8 lg:hidden dark:bg-neutral-800 dark:border-neutral-700"
    >
        <div class="flex items-center py-2">
            <!-- Navigation Toggle -->
            <button
                type="button"
                class="size-8 flex justify-center items-center gap-x-2 border border-neutral-200 text-neutral-800 hover:text-neutral-500 rounded-lg focus:outline-none focus:text-neutral-500 disabled:opacity-50 disabled:pointer-events-none dark:border-neutral-700 dark:text-neutral-200 dark:hover:text-neutral-500 dark:focus:text-neutral-500"
                aria-haspopup="dialog"
                aria-expanded="false"
                aria-controls="hs-application-sidebar"
                aria-label="Toggle navigation"
                data-hs-overlay="#hs-application-sidebar"
            >
                <span class="sr-only">Toggle Navigation</span>
                <svg
                    class="shrink-0 size-4"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    ><rect width="18" height="18" x="3" y="3" rx="2"
                    ></rect><path d="M15 3v18"></path><path d="m8 9 3 3-3 3"
                    ></path></svg
                >
            </button>
            <!-- End Navigation Toggle -->

            <!-- Breadcrumb -->
            <ol class="ms-3 flex items-center whitespace-nowrap">
                <li
                    class="flex items-center text-sm text-neutral-800 dark:text-neutral-400"
                >
                    Application Layout
                    <svg
                        class="shrink-0 mx-3 overflow-visible size-2.5 text-neutral-400 dark:text-neutral-500"
                        width="16"
                        height="16"
                        viewBox="0 0 16 16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M5 1L10.6869 7.16086C10.8637 7.35239 10.8637 7.64761 10.6869 7.83914L5 14"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"></path>
                    </svg>
                </li>
                <li
                    class="text-sm font-semibold text-neutral-800 truncate dark:text-neutral-400"
                    aria-current="page"
                >
                    Inicio
                </li>
            </ol>
            <!-- End Breadcrumb -->
        </div>
    </div>
    <!-- End Breadcrumb -->

    <!-- Sidebar -->
    <div
        id="hs-application-sidebar"
        class="hs-overlay [--auto-close:lg] hs-overlay-open:translate-x-0 -translate-x-full transition-all duration-300 transform w-[260px] h-full hidden fixed inset-y-0 start-0 z-[60] bg-neutral-900 lg:block lg:translate-x-0 lg:end-auto lg:bottom-0 dark:bg-neutral-800 dark:border-neutral-700"
        role="dialog"
        tabindex="-1"
        aria-label="Sidebar"
    >
        <div
            class="relative flex flex-col h-full max-h-full border-r border-neutral-700"
        >
            <div class="px-8 pt-4">
                <!-- Logo -->
                <a
                    class="flex-none rounded-xl text-xl inline-block font-semibold focus:outline-none focus:opacity-80"
                    href="#"
                    aria-label="Preline"
                >
                    <LogoMonoIcon class="w-36 h-auto" fill="#fcb316" />
                </a>
                <!-- End Logo -->
            </div>

            <!-- Content -->
            <div
                class="h-full overflow-y-auto  [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-neutral-100 [&::-webkit-scrollbar-thumb]:bg-neutral-300 dark:[&::-webkit-scrollbar-track]:bg-neutral-700 dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500"
            >
                <nav
                    class="hs-accordion-group p-3 w-full flex flex-col justify-between flex-wrap h-full"
                    data-hs-accordion-always-open
                >
                    <ul class="flex flex-col space-y-1">
                        {
                            cordCourse.modules.map((module) => (
                                <li class="hs-accordion" id="users-accordion">
                                    <button
                                        type="button"
                                        class="hs-accordion-toggle max-w-56 hs-accordion-active:text-primary hs-accordion-active:hover:bg-transparent w-full text-start inline-flex items-center gap-x-3.5 py-2 px-2.5 text-sm text-neutral-700 rounded-lg hover:bg-neutral-100 focus:outline-none focus:bg-neutral-100 dark:bg-neutral-800 dark:text-neutral-400 dark:hs-accordion-active:dark:text-white dark:hover:bg-neutral-700 dark:hover:text-neutral-300 dark:focus:bg-neutral-700 dark:focus:text-neutral-300"
                                        aria-expanded="true"
                                        aria-controls="users-accordion"
                                    >
                                        <svg
                                            class="shrink-0"
                                            xmlns="http://www.w3.org/2000/svg"
                                            width="18"
                                            height="18"
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            stroke="currentColor"
                                            stroke-width="2"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            class="icon icon-tabler icons-tabler-outline icon-tabler-point"
                                        >
                                            <>
                                                <path
                                                    stroke="none"
                                                    d="M0 0h24v24H0z"
                                                    fill="none"
                                                />
                                                <path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
                                            </>
                                        </svg>
                                        <p class="truncate">{module.title}</p>
                                        <svg
                                            class="hs-accordion-active:block ms-auto hidden size-4 text-neutral-600 group-hover:text-neutral-500 dark:text-neutral-400 shrink-0"
                                            xmlns="http://www.w3.org/2000/svg"
                                            width="24"
                                            height="24"
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            stroke="currentColor"
                                            stroke-width="2"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        >
                                            <path d="m18 15-6-6-6 6" />
                                        </svg>
                                        <svg
                                            class="hs-accordion-active:hidden ms-auto block size-4 text-neutral-600 group-hover:text-neutral-500 dark:text-neutral-400 shrink-0"
                                            xmlns="http://www.w3.org/2000/svg"
                                            width="24"
                                            height="24"
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            stroke="currentColor"
                                            stroke-width="2"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        >
                                            <path d="m6 9 6 6 6-6" />
                                        </svg>
                                    </button>

                                    <div
                                        id="users-accordion"
                                        class="hs-accordion-content max-w-56 w-full overflow-hidden transition-[height] duration-300 hidden"
                                        role="region"
                                        aria-labelledby="users-accordion"
                                    >
                                        <ul
                                            class="hs-accordion-group ps-3 pt-2"
                                            data-hs-accordion-always-open
                                        >
                                            {module.content.map((cont) => (
                                                <li
                                                    class="hs-accordion truncate"
                                                    id="users-accordion-sub-1"
                                                >
                                                    <button
                                                        type="button"
                                                        class="hs-accordion-toggle hs-accordion-active:text-primary hs-accordion-active:hover:bg-transparent w-full text-start flex items-center gap-x-3.5 py-2 px-2.5 text-sm text-neutral-700 rounded-lg hover:bg-neutral-100 focus:outline-none focus:bg-neutral-100 dark:bg-neutral-800 dark:text-neutral-400 dark:hs-accordion-active:dark:text-white dark:hover:bg-neutral-700 dark:hover:text-neutral-300 dark:focus:bg-neutral-700 dark:focus:text-neutral-300"
                                                        aria-expanded="true"
                                                        aria-controls="users-accordion-sub-1"
                                                    >
                                                        <p class="truncate">
                                                            {cont.subtitle}
                                                        </p>
                                                    </button>
                                                </li>
                                            ))}
                                        </ul>
                                    </div>
                                </li>
                            ))
                        }
                    </ul>
                    <ul class="flex flex-col space-y-1">
                        <li>
                            <a
                                id="boton-inicio"
                                class="flex items-center gap-x-3.5 py-2 px-2.5  text-sm dark:text-white rounded-lg hover:bg-white/20  focus:outline-none  dark:dark:text-white"
                                href="/"
                            >
                                <LogoutIcon class="shrink-0 size-4"/>
                                Salir
                            </a>
                        </li>
                        
                    </ul>
                </nav>
            </div>
            <!-- End Nav Content -->
        </div>
    </div>
    <!-- End Sidebar -->

    <!-- Content -->
    <div class="w-full pt-5 px-4 sm:px-6 md:px-8 lg:ps-72">
        <h2 class="dark:text-white font-bold">
            Curso de: <span class="normal-case"
                >{userData.certificate.course}</span
            >
        </h2>

        <div
            class="w-full bg-neutral-200 rounded-full h-2.5 dark:bg-neutral-700 mt-1 mb-5"
        >
            <div
                class="h-2.5 rounded-full"
                style={`background-color: ${courseData.find((course) => course.course == userData.certificate.course).color}; width: 45%`}
            >
            </div>
        </div>
        <p class="text-[#555555] font-semibold">
            A continuación podrás visualizar el contenido de tu curso
        </p>
        <Course certificateId={userData.certificate.course} />
    </div>

    <!-- End Content -->
    <!-- ========== END MAIN CONTENT ========== -->
</CampusLayout>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const userAuth0 = JSON.parse(localStorage.getItem("userData"));
        const avatarImage = document.getElementById("avatar-image");
        const avatarProfile = document.getElementById("avatar-profile");
        // const startSection = document.getElementById("start");
        // const escuelasSection = document.getElementById("escuelas");
        // const formacionesCompletadasSection = document.getElementById(
        //     "formaciones-completadas",
        // );
        // const userSection = document.getElementById("user-section");
        // const botonInicio = document.getElementById("boton-inicio");
        // const botonExplorar = document.getElementById("boton-explorar");
        // const botonCuenta = document.getElementById("boton-cuenta");
        // const botonCursos = document.getElementById("boton-cursos");

        // if (userAuth0) {
        //     console.log("Usuario autenticado:", userAuth0);
        //     console.log("User auth0 picture: ", userAuth0.picture);

        //     avatarImage.src = userAuth0.picture;
        //     avatarProfile.src = userAuth0.picture;
        // } else {
        //     console.log("Usuario no autenticado");
        // }

        // // Agrupar botones y secciones
        // const botones = {
        //     inicio: botonInicio,
        //     explorar: botonExplorar,
        //     cursos: botonCursos,
        //     cuenta: botonCuenta,
        // };

        // const secciones = {
        //     inicio: startSection,
        //     explorar: escuelasSection,
        //     cursos: formacionesCompletadasSection,
        //     cuenta: userSection,
        // };

        // // Función para manejar el cambio de botón activo
        // function activarBotonYSeccion(activo) {
        //     // Desactivar todos los botones y ocultar todas las secciones
        //     Object.keys(botones).forEach((key) => {
        //         botones[key].classList.remove(
        //             "bg-white/10",
        //             "hover:bg-white/10",
        //             "focus:bg-white/10",
        //         );
        //         secciones[key].classList.add("hidden");
        //     });

        //     // Activar el botón y mostrar la sección correspondiente
        //     botones[activo].classList.add(
        //         "bg-white/10",
        //         "hover:bg-white/10",
        //         "focus:bg-white/10",
        //     );
        //     secciones[activo].classList.remove("hidden");
        // }

        // // Asignar eventos a cada botón
        // botonInicio.addEventListener("click", () =>
        //     activarBotonYSeccion("inicio"),
        // );
        // botonExplorar.addEventListener("click", () =>
        //     activarBotonYSeccion("explorar"),
        // );
        // botonCursos.addEventListener("click", () =>
        //     activarBotonYSeccion("cursos"),
        // );
        // botonCuenta.addEventListener("click", () =>
        //     activarBotonYSeccion("cuenta"),
        // );
    });
</script>

<style>
    html {
        font-family: "Inter Variable", "Questrial", system-ui, sans-serif;
    }
    .about {
        margin: auto;
        line-height: 1.6;
    }

    .metropedia {
        -webkit-mask-image: linear-gradient(
                to right,
                transparent,
                black 30%,
                black 70%,
                transparent
            ),
            linear-gradient(
                to left,
                transparent,
                black 30%,
                black 70%,
                transparent
            );
        mask-image: linear-gradient(
                to right,
                transparent,
                black 30%,
                black 70%,
                transparent
            ),
            linear-gradient(
                to left,
                transparent,
                black 30%,
                black 70%,
                transparent
            );
    }

    .titulo {
        font-family: "Questrial", system-ui, sans-serif;
    }
</style>
