---
import LogoMonoIcon from "../../../icons/LogoMonoIcon.astro";
import CampusLayout from "../../../layouts/CampusLayout.astro";
import ScrollSpy from "../../../components/ScrollSpy.astro";
import Steper from "../../../components/Steper.astro";
const { courseCode } = Astro.params;
console.log("Course code: ", courseCode);

let userData = null;

// // Función para obtener datos del certificado al cargar el componente en el cliente
async function fetchCertificate() {
    try {
        const response = await fetch(
            `https://certificados-backend.onrender.com/api/courses/${courseCode}`,
        );
        if (response.ok) {
            userData = await response.json();
            console.log("User data: ", userData);
        } else {
            console.error("Certificado no encontrado o error en la solicitud.");
        }
    } catch (error) {
        console.error("Error al obtener los datos del certificado:", error);
    }
}

// // Ejecuta la función al cargar en el cliente
await fetchCertificate();
---

<CampusLayout title="Metropedia">
    <div class="h-dvh">
        <!--Header start -->
        <header
            class="sticky top-0 inset-x-0 flex flex-wrap md:justify-start md:flex-nowrap z-[48] w-full bg-white text-sm py-2.5 dark:bg-neutral-800 dark:border-neutral-700"
        >
            <nav
                class="px-4 sm:px-6 flex md:gap-10 basis-full items-center w-full mx-auto"
            >
                <a
                    class="flex-none rounded-md text-xl lg:inline-block font-semibold focus:outline-none focus:opacity-80 hidden"
                    href="#"
                    aria-label="Preline"
                >
                    <LogoMonoIcon class="w-32 h-auto" />
                </a>
                <div class="me-5 lg:me-0 lg:hidden">
                    <!-- Logo -->
                    <a
                        class="flex-none rounded-md text-xl inline-block font-semibold focus:outline-none focus:opacity-80"
                        href="#"
                        aria-label="Preline"
                    >
                        <LogoMonoIcon class="w-32 h-auto" />
                    </a>
                    <!-- End Logo -->
                </div>

                <div
                    class="w-full flex items-center justify-end ms-auto md:justify-between gap-x-1 md:gap-x-3"
                >
                    <div class="hidden md:block">
                        <!-- Search Input -->
                        <div
                            class="relative border rounded-sm border-neutral-400"
                        >
                            <div
                                class="absolute inset-y-0 start-0 flex items-center pointer-events-none z-20 ps-3.5"
                            >
                                <svg
                                    class="shrink-0 size-4 text-neutral-400 dark:dark:text-white/60"
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    ><circle cx="11" cy="11" r="8"
                                    ></circle><path d="m21 21-4.3-4.3"
                                    ></path></svg
                                >
                            </div>
                            <input
                                type="text"
                                class="py-2 ps-10 pe-16 block w-full bg-white border-neutral-200 rounded-sm text-sm focus:outline-none focus:border-primary focus:ring-primary disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder:text-neutral-400 dark:focus:ring-neutral-600"
                                placeholder="Buscar"
                            />
                            <div
                                class="hidden absolute inset-y-0 end-0 flex items-center pointer-events-none z-20 pe-1"
                            >
                                <button
                                    type="button"
                                    class="inline-flex shrink-0 justify-center items-center size-6 rounded-full text-neutral-500 hover:text-primary focus:outline-none focus:text-primary dark:text-neutral-500 dark:hover:text-primary dark:focus:text-primary"
                                    aria-label="Close"
                                >
                                    <span class="sr-only">Close</span>
                                    <svg
                                        class="shrink-0 size-4"
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="24"
                                        height="24"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        stroke="currentColor"
                                        stroke-width="2"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        ><circle cx="12" cy="12" r="10"
                                        ></circle><path d="m15 9-6 6"
                                        ></path><path d="m9 9 6 6"></path></svg
                                    >
                                </button>
                            </div>
                            <div
                                class="absolute inset-y-0 end-0 flex items-center pointer-events-none z-20 pe-3 text-neutral-400"
                            >
                                <svg
                                    class="shrink-0 size-3 text-neutral-400 dark:dark:text-white/60"
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    ><path
                                        d="M15 6v12a3 3 0 1 0 3-3H6a3 3 0 1 0 3 3V6a3 3 0 1 0-3 3h12a3 3 0 1 0-3-3"
                                    ></path></svg
                                >
                                <span class="mx-1">
                                    <svg
                                        class="shrink-0 size-3 text-neutral-400 dark:dark:text-white/60"
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="24"
                                        height="24"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        stroke="currentColor"
                                        stroke-width="2"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        ><path d="M5 12h14"></path><path
                                            d="M12 5v14"></path></svg
                                    >
                                </span>
                                <span class="text-xs">/</span>
                            </div>
                        </div>
                        <!-- End Search Input -->
                    </div>

                    <div class="flex flex-row items-center justify-end gap-1">
                        <button
                            type="button"
                            class="md:hidden size-[38px] relative inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full border border-transparent text-neutral-800 hover:bg-neutral-100 focus:outline-none focus:bg-neutral-100 disabled:opacity-50 disabled:pointer-events-none dark:dark:text-white dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
                        >
                            <svg
                                class="shrink-0 size-4"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                ><circle cx="11" cy="11" r="8"></circle><path
                                    d="m21 21-4.3-4.3"></path></svg
                            >
                            <span class="sr-only">Search</span>
                        </button>

                        <button
                            type="button"
                            class="size-[38px] relative inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full border border-transparent text-neutral-800 hover:bg-neutral-100 focus:outline-none focus:bg-neutral-100 disabled:opacity-50 disabled:pointer-events-none dark:dark:text-white dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
                        >
                            <svg
                                class="shrink-0 size-4"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                ><path
                                    d="M6 8a6 6 0 0 1 12 0c0 7 3 9 3 9H3s3-2 3-9"
                                ></path><path d="M10.3 21a1.94 1.94 0 0 0 3.4 0"
                                ></path></svg
                            >
                            <span class="sr-only">Notifications</span>
                        </button>

                        <button
                            type="button"
                            class="size-[38px] relative inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full border border-transparent text-neutral-800 hover:bg-neutral-100 focus:outline-none focus:bg-neutral-100 disabled:opacity-50 disabled:pointer-events-none dark:dark:text-white dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
                        >
                            <svg
                                class="shrink-0 size-4"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                ><path d="M22 12h-4l-3 9L9 3l-3 9H2"
                                ></path></svg
                            >
                            <span class="sr-only">Activity</span>
                        </button>

                        <!-- Dropdown -->
                        <div
                            class="hs-dropdown [--placement:bottom-right] relative inline-flex"
                        >
                            <button
                                id="hs-dropdown-account"
                                type="button"
                                class="size-[38px] inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full border border-transparent text-neutral-800 focus:outline-none disabled:opacity-50 disabled:pointer-events-none dark:dark:text-white"
                                aria-haspopup="menu"
                                aria-expanded="false"
                                aria-label="Dropdown"
                            >
                                <img
                                    id="avatar-image"
                                    class="shrink-0 size-[38px] rounded-full"
                                    src=`https://openclipart.org/image/2000px/247319`
                                    alt="Avatar"
                                />
                            </button>

                            <div
                                class="hs-dropdown-menu transition-[opacity,margin] duration hs-dropdown-open:opacity-100 opacity-0 hidden min-w-60 bg-white shadow-md rounded-lg mt-2 dark:bg-neutral-800 dark:border dark:border-neutral-700 dark:divide-neutral-700 after:h-4 after:absolute after:-bottom-4 after:start-0 after:w-full before:h-4 before:absolute before:-top-4 before:start-0 before:w-full"
                                role="menu"
                                aria-orientation="vertical"
                                aria-labelledby="hs-dropdown-account"
                            >
                                <div
                                    class="py-3 px-5 bg-neutral-100 rounded-t-lg dark:bg-neutral-700"
                                >
                                    <p
                                        class="text-sm text-neutral-500 dark:text-neutral-500"
                                    >
                                        Correo de ingreso
                                    </p>
                                    <p
                                        class="text-sm font-medium text-neutral-800 dark:text-neutral-200"
                                    >
                                        {userData.email}
                                    </p>
                                </div>
                                <div class="p-1.5 space-y-0.5">
                                    <a
                                        class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-neutral-800 hover:bg-neutral-100 focus:outline-none focus:bg-neutral-100 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-300 dark:focus:bg-neutral-700 dark:focus:text-neutral-300"
                                        href="#"
                                    >
                                        <svg
                                            class="shrink-0 size-4"
                                            xmlns="http://www.w3.org/2000/svg"
                                            width="24"
                                            height="24"
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            stroke="currentColor"
                                            stroke-width="2"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            ><path
                                                d="M6 8a6 6 0 0 1 12 0c0 7 3 9 3 9H3s3-2 3-9"
                                            ></path><path
                                                d="M10.3 21a1.94 1.94 0 0 0 3.4 0"
                                            ></path></svg
                                        >
                                        Newsletter
                                    </a>
                                    <a
                                        class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-neutral-800 hover:bg-neutral-100 focus:outline-none focus:bg-neutral-100 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-300 dark:focus:bg-neutral-700 dark:focus:text-neutral-300"
                                        href="#"
                                    >
                                        <svg
                                            class="shrink-0 size-4"
                                            xmlns="http://www.w3.org/2000/svg"
                                            width="24"
                                            height="24"
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            stroke="currentColor"
                                            stroke-width="2"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            ><path
                                                d="M6 2 3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4Z"
                                            ></path><path d="M3 6h18"
                                            ></path><path
                                                d="M16 10a4 4 0 0 1-8 0"
                                            ></path></svg
                                        >
                                        Purchases
                                    </a>
                                    <a
                                        class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-neutral-800 hover:bg-neutral-100 focus:outline-none focus:bg-neutral-100 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-300 dark:focus:bg-neutral-700 dark:focus:text-neutral-300"
                                        href="#"
                                    >
                                        <svg
                                            class="shrink-0 size-4"
                                            xmlns="http://www.w3.org/2000/svg"
                                            width="24"
                                            height="24"
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            stroke="currentColor"
                                            stroke-width="2"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            ><path
                                                d="M4 14.899A7 7 0 1 1 15.71 8h1.79a4.5 4.5 0 0 1 2.5 8.242"
                                            ></path><path d="M12 12v9"
                                            ></path><path d="m8 17 4 4 4-4"
                                            ></path></svg
                                        >
                                        Downloads
                                    </a>
                                    <a
                                        class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-neutral-800 hover:bg-neutral-100 focus:outline-none focus:bg-neutral-100 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-300 dark:focus:bg-neutral-700 dark:focus:text-neutral-300"
                                        href="#"
                                    >
                                        <svg
                                            class="shrink-0 size-4"
                                            xmlns="http://www.w3.org/2000/svg"
                                            width="24"
                                            height="24"
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            stroke="currentColor"
                                            stroke-width="2"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            ><path
                                                d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"
                                            ></path><circle cx="9" cy="7" r="4"
                                            ></circle><path
                                                d="M22 21v-2a4 4 0 0 0-3-3.87"
                                            ></path><path
                                                d="M16 3.13a4 4 0 0 1 0 7.75"
                                            ></path></svg
                                        >
                                        Team Account
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- End Dropdown -->
                    </div>
                </div>
            </nav>
        </header>
        <!--Header end -->

        <!--Title start -->
        <div class="lg:px-5 px-4 text-white">
            <h2 class="font-bold lg:text-xl mb-3">
                {userData.course}
            </h2>

            <div
                class="h-2.5 rounded-full"
                style={`background-color: ${userData.color}; width: 100%`}
            >
            </div>
        </div>
        <!--Title end -->

        <Steper userData={userData} />
    </div>
</CampusLayout>

<style>
    html {
        font-family: "Inter Variable", "Questrial", system-ui, sans-serif;
    }
    .about {
        margin: auto;
        line-height: 1.6;
    }

    .metropedia {
        -webkit-mask-image: linear-gradient(
                to right,
                transparent,
                black 30%,
                black 70%,
                transparent
            ),
            linear-gradient(
                to left,
                transparent,
                black 30%,
                black 70%,
                transparent
            );
        mask-image: linear-gradient(
                to right,
                transparent,
                black 30%,
                black 70%,
                transparent
            ),
            linear-gradient(
                to left,
                transparent,
                black 30%,
                black 70%,
                transparent
            );
    }

    .titulo {
        font-family: "Questrial", system-ui, sans-serif;
    }
</style>
