---
import "@fontsource/questrial";
import "@fontsource-variable/inter";
import SchoolIcon from "../../icons/SchoolIcon.astro";
import CertificateIcon from "../../icons/CertificateIcon.astro";
import NotebookIcon from "../../icons/NotebookIcon.astro";
import courseData from "../../courseData.js";
import SettingsCheckIcon from "../../icons/SettingsCheckIcon.astro";

const { userId } = Astro.params;
let userData = null;

try {
  const response = await fetch(
    `https://certificados-backend.onrender.com/api/certificates/${userId}`,
  );
  if (response.ok) {
    userData = await response.json();
  } else {
    console.error("Usuario no encontrado o error en la solicitud.");
  }
} catch (error) {
  console.error("Error al obtener los datos del usuario:", error);
}
---

<head>
  <meta charset="UTF-8" />
  <meta name="description" content="Astro description" />
  <meta name="viewport" content="width=device-width" />
  <link
    rel="icon"
    type="image/svg+xml"
    href="https://res.cloudinary.com/dc0aja7yx/image/upload/v1731012160/favicon_anm3bn.svg"
  />
  <meta name="generator" content={Astro.generator} />
</head>

<div class="antialiased bg-secondary">
  <nav
    class="bg-secondary px-4 py-2.5 dark:bg-gray-800 dark:border-gray-700 fixed left-0 right-0 top-0 z-50"
  >
    <div class="flex flex-wrap justify-between items-center">
      <div class="flex justify-start items-center">
        <a
          href="https://metropedia.vercel.app"
          class="flex items-center justify-between mr-4"
        >
          <img
            src="https://res.cloudinary.com/dc0aja7yx/image/upload/v1731012164/logolargo_yjfjl4.png"
            class="metropedia mr-3 h-full w-auto object-cover absolute"
            alt="Flowbite Logo"
          />
        </a>
      </div>
      <div class="flex items-center lg:order-2">
        <span
          class="titulo self-center text-2xl font-semibold whitespace-nowrap text-white uppercase p-2"
          >Campus <span class="text-primary">virtual</span></span
        >
      </div>
    </div>
  </nav>

  <!-- Sidebar -->
  <aside
    class="fixed top-0 left-0 z-40 w-96 h-screen pt-14 transition-transform -translate-x-full border-r md:translate-x-0 bg-secondary border-gray-700"
    aria-label="Sidenav"
    id="drawer-navigation"
  >
    <div class="overflow-y-auto py-5 px-3 h-full bg-[#161717]">
      <div class="max-w-sm bg-white shadow-lg rounded-lg overflow-hidden my-1">
        <img
          class="w-full h-56 object-cover object-center"
          src="https://res.cloudinary.com/dc0aja7yx/image/upload/v1730913326/user2_a2p8w8.png"
          alt="avatar"
        />
        <div class="flex items-center px-6 py-3 bg-[#252627]">
          <SchoolIcon class="h-6 w-6 text-white" />
          <h1 class="mx-3 text-white font-semibold text-lg">Estudiante</h1>
        </div>
        <div class="py-4 px-6">
          <h1 class="text-lg font-semibold text-gray-800">
            {userData?.name ?? "Nombre del Usuario"}
          </h1>
          <p class="py-2 text-md text-gray-700">{userData?.id ?? "ID"}</p>
          <a
            href="/landing-cursos/"
            class="flex justify-center items-center mt-2 py-2 px-auto text-base font-medium text-center text-[#252627] hover:text-white rounded-sm bg-[#fcb316] hover:bg-[#fcb316]/60 border border-primary hover:border-white focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900"
          >
            Editar
          </a>
        </div>
      </div>

      <!-- Menú de navegación -->
      <ul
        class="pt-5 mt-5 space-y-2 border-t border-gray-200 dark:border-gray-700"
      >
        <!-- Cursos -->
        <li>
          <a
            href="#"
            class="text-[#9a9a9a] flex items-center p-2 text-base font-medium rounded-lg transition duration-75 hover:bg-gray-100 dark:hover:bg-gray-700 dark:text-white group"
          >
            <NotebookIcon
              class="flex-shrink-0 w-6 h-6 text-[#9a9a9a] transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
            />
            <span class="ml-3">Cursos</span>
          </a>
        </li>
        <!-- Certificados -->
        <li>
          <a
            href="#"
            class="text-[#9a9a9a] flex items-center p-2 text-base font-medium rounded-lg transition duration-75 hover:bg-gray-100 dark:hover:bg-gray-700 dark:text-white group"
          >
            <CertificateIcon
              class="flex-shrink-0 w-6 h-6 text-[#9a9a9a] transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
            />
            <span class="ml-3">Certificados</span>
          </a>
        </li>
        <!-- Configuración -->
        <li>
          <a
            href="#"
            class="text-[#9a9a9a] flex items-center p-2 text-base font-medium rounded-lg transition duration-75 hover:bg-gray-100 dark:hover:bg-gray-700 dark:text-white group"
          >
            <SettingsCheckIcon
              class="flex-shrink-0 w-6 h-6 text-[#9a9a9a] transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
            />
            <span class="ml-3">Configuración</span>
          </a>
        </li>
      </ul>
    </div>
  </aside>

  <main class="p-4 md:ml-96 h-auto pt-20 bg-[#161717]">
    <div
      style="background-image: url(https://res.cloudinary.com/dc0aja7yx/image/upload/v1731011941/measure-bg_c27r6h.png)"
      class="bg-[#252627] rounded-lg h-48 mb-4 flex-col items-center p-10"
    >
      <h1 class="text-white text-3xl font-bold">
        ¡Bienvenido(a) {userData?.name ?? "Estudiante"}!
      </h1>
      <p class="text-[#9a9a9a] text-lg font-semibold">
        En este dashboard encontrarás toda la información y progreso de tus
        cursos.
      </p>
      <div class="flex gap-5 mt-3">
        <div class="inline-flex text-white gap-1">
          <NotebookIcon class="stroke-[#60a5fa]" />
          0 cursos en curso.
        </div>
        <div class="inline-flex text-white gap-1">
          <CertificateIcon class="stroke-[#47be72]" />
          {userData?.certificates?.length ?? 0} cursos completados.
        </div>
      </div>
    </div>
    <p class="font-semibold text-xl text-white">
      Formaciones <span class="text-[#ffd16f]">en curso</span>.
    </p>

    <!-- Grid de cursos en curso -->
    <div
      class={`grid ${
        (userData?.certificates?.length ?? 0) <= 1
          ? "grid-cols-1"
          : (userData?.certificates?.length ?? 0) === 2
            ? "grid-cols-2"
            : (userData?.certificates?.length ?? 0) <= 3
              ? "grid-cols-2 sm:grid-cols-2 lg:grid-cols-3"
              : "grid-cols-2 sm:grid-cols-3 lg:grid-cols-3"
      } gap-4 mb-4`}
    >
      {
        userData?.certificates?.slice(0, 3).map((certificate, index) => (
          <a
            href={`/validate/${certificate.certificate}`}
            style={`background-image: url(${courseData.find((c) => c.course === certificate.course)?.image || "/path/to/default-image.png"})`}
            class=" bg-opacity-50 border-2 border-transparent hover:border-gray-300 rounded-lg h-32 md:h-64 flex flex-col p-5 justify-between"
          >
            <div>
              <p class="font-semibold text-md text-white">
                {certificate.course}
              </p>
              <span class="text-[#9a9a9a] font-semibold text-sm">
                Duración de {certificate.duration} horas
              </span>
            </div>
            <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
              <div
                class="bg-blue-600 h-2.5 rounded-full"
                style={`background-color: ${courseData[index].color}; width: 30%`}
              />
            </div>
          </a>
        ))
      }
    </div>
    <p class="font-semibold text-xl text-white">
      Formaciones <span class="text-[#ffd16f]">completadas</span>.
    </p>
    <div
      class={`grid ${userData.certificates.length === 1 ? "grid-cols-1" : userData.certificates.length === 2 ? "grid-cols-2" : userData.certificates.length <= 4 ? "grid-cols-2 sm:grid-cols-2 lg:grid-cols-4" : "grid-cols-2 sm:grid-cols-3 lg:grid-cols-4"} gap-4 mb-4`}
    >
      {
        userData.certificates.slice(0, 4).map((certificate, index) => (
          <a
            href={`/validate/${certificate.certificate}`}
            style={`background-image: url(${courseData.find((c) => c.course === certificate.course)?.image || "/path/to/default-image.png"})`}
            class=" bg-opacity-50 border-2 border-transparent hover:border-gray-300 rounded-lg dark:border-gray-600 h-32 md:h-64 flex flex-col p-5 justify-between"
          >
            <div>
              <p class="font-semibold text-md text-white">
                {certificate.course}
              </p>
              <span class="text-[#9a9a9a] font-semibold text-sm">
                Duración de {certificate.duration} horas
              </span>
            </div>
            <div>
              <span
                class="font-bold"
                style={`color: ${courseData[index].color}; width: 100%`}
              >
                {certificate.certificate}
              </span>

              <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
                <div
                  class="bg-blue-600 h-2.5 rounded-full"
                  style={`background-color: ${courseData[index].color}; width: 100%`}
                />
              </div>
            </div>
          </a>
        ))
      }
    </div>
    <div class="grid grid-cols-2 gap-4 mb-4">
      <div
        class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"
      >
      </div>
      <div
        class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"
      >
      </div>
      <div
        class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"
      >
      </div>
      <div
        class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"
      >
      </div>
    </div>
    <div
      class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-96 mb-4"
    >
    </div>
    <div class="grid grid-cols-2 gap-4">
      <div
        class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"
      >
      </div>
      <div
        class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"
      >
      </div>
      <div
        class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"
      >
      </div>
      <div
        class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"
      >
      </div>
    </div>
  </main>
</div>

<style>
  html {
    font-family: "Inter Variable", "Questrial", system-ui, sans-serif;
  }
  .about {
    margin: auto;
    line-height: 1.6;
  }

  .metropedia {
    -webkit-mask-image: linear-gradient(
        to right,
        transparent,
        black 30%,
        black 70%,
        transparent
      ),
      linear-gradient(to left, transparent, black 30%, black 70%, transparent);
    mask-image: linear-gradient(
        to right,
        transparent,
        black 30%,
        black 70%,
        transparent
      ),
      linear-gradient(to left, transparent, black 30%, black 70%, transparent);
  }

  .titulo {
    font-family: "Questrial", system-ui, sans-serif;
  }
</style>
