---
const { title, description, icon: Icon, clase, link } = Astro.props;

const claseStyles = {
  Calculadora: {
    button: "bg-amber-100 text-amber-800",
    darkButton: "dark:bg-amber-400/20 dark:text-amber-400",
    readMoreButton: "bg-amber-800 dark:text-white",
    darkReadMoreButton: "dark:bg-amber-400 dark:text-[#252627]"
  },
  Conversor: {
    button: "bg-[#f9cc6d] text-primary",
    darkButton: "dark:bg-primary dark:bg-opacity-10 dark:text-primary",
    readMoreButton: "bg-primary dark:text-white",
    darkReadMoreButton: "dark:bg-primary dark:text-[#252627]"
  },
  Graficador: {
    button: "bg-green-100 text-green-800",
    darkButton: "dark:bg-green-400 dark:bg-opacity-10 dark:text-green-400",
    readMoreButton: "bg-green-800 dark:text-white",
    darkReadMoreButton: "dark:bg-green-400 dark:text-[#252627]"
  },
  default: {
    button: "bg-neutral-100 text-neutral-800",
    darkButton: "dark:bg-neutral-700 dark:dark:text-white",
    readMoreButton: "bg-neutral-800 dark:text-white",
    darkReadMoreButton: "dark:bg-neutral-400 dark:text-[#252627]"
  }
};

const currentStyles = claseStyles[clase] || claseStyles.default;
---

<div class="max-w-sm p-4 md:p-6 bg-white border border-neutral-200 rounded-sm shadow bg-opacity-10 dark:border-white/30 flex justify-between md:block">
  <div>
    <a href="#" class={`${currentStyles.button} text-xs font-medium inline-flex items-center gap-1 px-2.5 rounded-sm mb-2 py-1 ${currentStyles.darkButton}`}>
        <Icon class=" size-4" /> <!-- Asegúrate de agregar clases para el tamaño del icono -->
        {clase}
    </a>
    <a href="#">
        <h5 class=" md:my-2 text-base md:text-2xl font-semibold tracking-wider text-neutral-900 dark:dark:text-white">{title}</h5>
    </a>
  </div>
    <p class="hidden md:block text-base md:text-xl mb-3 font-normal text-neutral-500 dark:text-neutral-400">{description}</p>
    <a href={link} class={`inline-flex items-center px-3 py-2 text-sm font-medium text-center rounded-sm hover:bg-opacity-80 focus:ring-4 focus:outline-none focus:ring-opacity-50 ${currentStyles.readMoreButton} ${currentStyles.darkReadMoreButton}`}>
        <span class="hidden md:block">Ir a la herramienta</span>
        <svg class="rtl:rotate-180 w-3.5 h-3.5 md:ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
        </svg>
    </a>
</div>
