---
import CalculatorIcon from "../icons/CalculatorIcon.astro";

const { title, description, icon, clase } = Astro.props;

const claseStyles = {
  Calculadora: {
    button: "bg-blue-100 text-blue-800",
    darkButton: "dark:bg-gray-700 dark:text-blue-400",
    readMoreButton: "bg-blue-800 text-white",
    darkReadMoreButton: "dark:bg-blue-400 dark:text-[#252627]"
  },
  Conversor: {
    button: "bg-yellow-100 text-yellow-600",
    darkButton: "dark:bg-yellow-700 dark:text-[#fcb316]",
    readMoreButton: "bg-yellow-600 text-white",
    darkReadMoreButton: "dark:bg-[#fcb316] dark:text-[#252627]"
  },
  Graficador: {
    button: "bg-green-100 text-green-800",
    darkButton: "dark:bg-green-700 dark:text-green-400",
    readMoreButton: "bg-green-800 text-white",
    darkReadMoreButton: "dark:bg-green-400 dark:text-[#252627]"
  },
  default: {
    button: "bg-gray-100 text-gray-800",
    darkButton: "dark:bg-gray-700 dark:text-white",
    readMoreButton: "bg-gray-800 text-white",
    darkReadMoreButton: "dark:bg-gray-400 dark:text-[#252627]"
  }
};

const currentStyles = claseStyles[clase] || claseStyles.default;
---

<div class="max-w-sm p-6 bg-white border border-gray-200 rounded-sm shadow dark:bg-[#252627] dark:border-gray-700">
    <a href="#" class={`${currentStyles.button} text-xs font-medium inline-flex items-center gap-1 px-2.5 py-0.5 rounded-md mb-2 ${currentStyles.darkButton}`}>
        <CalculatorIcon/>
        {clase}
    </a>
    <a href="#">
        <h5 class="my-2 text-2xl font-semibold tracking-wider text-gray-900 dark:text-white">{title}</h5>
    </a>
    <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">{description}</p>
    <a href="#" class={`inline-flex items-center px-3 py-2 text-sm font-medium text-center rounded-sm hover:bg-opacity-80 focus:ring-4 focus:outline-none focus:ring-opacity-50 ${currentStyles.readMoreButton} ${currentStyles.darkReadMoreButton}`}>
        Ir a la herramienta
        <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
        </svg>
    </a>
</div>
