---
import CubeIcon from "../icons/CubeIcon.astro";
import NotebookIcon from "../icons/NotebookIcon.astro";
import SettingsCheckIcon from "../icons/SettingsCheckIcon.astro";
import StarIcon from "../icons/StarIcon.astro";
import InfoCard from "./InfoCard.astro";
import InfoList from "./InfoList.astro";

const ownToolsInfo = [
  {
    title: "Didácticos",
    description: [
      "Contenido claro y conciso",
      "Accesible",
      "Interfaz amigable",
    ],
    link: "#",
    icono: CubeIcon,
    color: "#ff7900",
  },
  {
    title: "Profesionales",
    description: [
      "Impartidos por expertos",
      "Experiencia en metrología",
    ],
    link: "#",
    icono: StarIcon,
    color: "#60a5fa",
  },
  {
    title: "Actualizados",
    description: [
      "Contenido actualizado",
      "Cumplimiento con estándares",
    ],
    link: "#",
    icono: NotebookIcon,
    color: "#ac94fa",
  },
  {
    title: "Prácticos",
    description: [
      "Ejemplos prácticos",
      "Estudios de caso",
      "Aplicaciones reales",
    ],
    link: "#",
    icono: SettingsCheckIcon,
    color: "#16bdca",
  },
];
---

<section
  class="calculadora relative about flex flex-col justify-center items-center h-dvh gap-6 pt-12 px-4 sm:px-8 lg:gap-12 lg:pt-12"
>

  <div class="content">
    <!-- Títulos principales -->
    <h2
      class="text-center max-w-4xl mt-4 text-2xl font-extrabold leading-none sm:text-3xl xl:text-5xl dark:dark:text-white mx-auto"
    >
      Los cursos más completos
    </h2>
    <h2
      class="text-center max-w-5xl md:mb-4 text-2xl font-extrabold leading-none sm:text-3xl xl:text-5xl dark:text-primary mx-auto"
    >
      en Metrología y Normativa Internacional
    </h2>

    <!-- Subtítulo de descripción -->
    <h3 class="hidden md:block mx-auto text-center max-w-lg mt-6 text-lg text-[#c4c8ce]">
      Cursos virtuales diseñados por profesionales, información actualizada y ejemplos aplicados reales.
    </h3>

    <!-- Grid de InfoCards que cambia solo en móviles a una columna -->
    <div class="p-0 w-full max-w-screen-xl align-middle mx-auto">
      <div class="hidden md:grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-4 mx-2 my-6">
        {
          ownToolsInfo.map((tool) => (
            <InfoCard
              title={tool.title}
              description={tool.description}
              link={tool.link}
              icono={tool.icono}
              color={tool.color}
            />
          ))
        }
      </div>

      <ul role="list" class=" md:hidden divide-y divide-[#555555]">
        {
          ownToolsInfo.map((tool)=>(
            <InfoList
              title={tool.title}
              description={tool.description}
              link={tool.link}
              icono={tool.icono}
              color={tool.color}
            />
          ))
        }
      </ul>
    </div>

    

    <!-- Notificación de tipo de educación -->
    <h3
      class="text-center max-w-md my-0 md:my-4 text-xs text-[#5d5d5d] font-bold mx-auto sm:text-sm lg:max-w-4xl"
    >
      Educación informal - No conduce a título o certificado de aptitud ocupacional - Decreto 1075 de 2015 (artículo 2.6.6.8)
    </h3>
  </div>
</section>

<style>
  .about {
    margin: auto;
    color: white;
    line-height: 1.6;
    position: relative;
    overflow: hidden;
  }

  .floating-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: floating 6s ease-in-out infinite;
    z-index: -1; /* Asegura que el fondo esté detrás del contenido */
  }

  @keyframes floating {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(20px);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes bounce {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  .bounce {
    animation: bounce 1s infinite;
  }
</style>

