---
const {name,img,description, category, price, id} = Astro.props 

---


<a
href=`/courses/${id}`
class="relative bg-cover group rounded-sm bg-center overflow-hidden mx-auto sm:mr-0 xl:mx-auto cursor-pointer"
>
<img
    class="rounded-2xl object-cover opacity-40"
    src={img}
    alt="Jacket image"
/>
<div
    class="absolute z-10 bottom-3 left-0 mx-3 p-3 bg-white w-[calc(100%-24px)] rounded-lg shadow-sm shadow-transparent transition-all duration-500 group-hover:shadow-secondary group-hover:bg-[#9a9a9a]"
>
    <div class="flex items-center justify-between mb-2">
        <h6
            class="font-semibold text-base leading-7 text-black"
        >
            {name}
        </h6>
        <h6
            class="font-semibold text-base leading-7 text-primary text-right"
        >
            ${price}
        </h6>
    </div>
    <p class="text-xs truncate leading-5 text-gray-500">
        {description}
    </p>
</div>
</a>