---
import ContentModal from "./ContentModal.astro";

const { image, subtitulo, description, index, content } = Astro.props;
---

<div
    class="group h-60 md:h-96 md:w-96 [perspective:1000px] overflow-hidden rounded-sm my-3"
>
    <div
        class="relative h-full w-full rounded-sm shadow-xl [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)] transition-transform duration-300"
    >
        <!-- Cara frontal -->
        <div class="absolute inset-0">
            <div class="h-full w-full relative">
                <img
                    class="h-full w-full rounded-sm object-cover shadow-xl transition-all duration-500 shadow-black/40"
                    src={image}
                    alt="Metrología Básica"
                    transition:name=`content ${index} image`
                />
                <div
                    class="absolute bottom-0 text-white font-semibold text-xs md:text-base h-auto bg-secondary/40 backdrop-blur-sm inset-x-0 text-center flex gap-2 items-center justify-center my-3 mx-10 rounded-sm py-2 shadow-lg"
                >
                    <p>{subtitulo}</p>
                </div>
                <div
                    class="absolute md:h-auto md:w-auto h-12 w-12 top-0 end-0 text-secondary/50 font-semibold text-center flex items-center justify-center p-2 m-1"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="50"
                        height="50"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="icon icon-tabler icons-tabler-outline icon-tabler-click"
                        ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                        ></path><path d="M3 12l3 0"></path><path d="M12 3l0 3"
                        ></path><path d="M7.8 7.8l-2.2 -2.2"></path><path
                            d="M16.2 7.8l2.2 -2.2"></path><path
                            d="M7.8 16.2l-2.2 2.2"></path><path
                            d="M12 12l9 3l-4 2l-2 4l-3 -9"></path></svg
                    >
                </div>
            </div>
        </div>

        <!-- Cara trasera -->
        <div
            class="absolute inset-0 h-full w-full rounded-sm bg-black/90 md:px-12 p-4 text-center text-slate-200 [transform:rotateY(180deg)] [backface-visibility:hidden]"
        >
            <div
                class="flex min-h-full flex-col items-center justify-center text-start"
            >
                <h2
                    id="subtitulo"
                    class="text-base md:text-xl font-bold md:mb-5 mb-1 text-center w-full"
                >
                    {subtitulo}
                </h2>
                <p class="md:text-lg text-xs md:mb-5 mb-1 truncate max-w-48 md:max-w-80">
                    {content}
                </p>

                <button
                    popovertarget={`${index}-my-popover`}
                    type="button"
                    class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-neutral-200 bg-white text-neutral-800 shadow-sm hover:bg-neutral-50 focus:outline-none focus:bg-neutral-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-800 dark:focus:bg-neutral-800"
                    transition:name=`content ${index} box`
                >
                    Aprender más
                </button>

                <ContentModal
                    image={image}
                    subtitulo={subtitulo}
                    description={description}
                    index={index}
                    content={content}
                    
                />
            </div>
        </div>
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        const spanAux = document.getElementById("span-aux").textContent;
        const contentModalVisible = document.getElementById(
            `${spanAux}-content-modal-visible`,
        );
        const aprenderMasButton = document.getElementById(
            `${spanAux}-aprender-mas`,
        );
        const deactivateButton = document.getElementById(
            `${spanAux}-deactivate-button`,
        );

        aprenderMasButton.addEventListener("click", () => {
            contentModalVisible.classList.toggle("hidden");
        });
        deactivateButton.addEventListener("click", () => {
            contentModalVisible.classList.toggle("hidden");
        });
    });
</script>
