---
import { Image } from "astro:assets";
import ThemeSwitch from "./ThemeSwitch.astro";

const logo = {
    mobileSrc: "https://res.cloudinary.com/dc0aja7yx/image/upload/v1732761290/dark-logo-mobile_wvdvce.png",
    src: "https://res.cloudinary.com/dc0aja7yx/image/upload/v1731012164/logolargo_yjfjl4.png",
    alt: "Logo de Metropedia",
};

const navItems = [
    { title: "Herramientas", label: "experiencia", url: "/#experiencia" },
    { title: "Formación", label: "proyectos", url: "/landing-cursos/" },
    {
        title: "Contacto",
        label: "contacto",
        url: "mailto:andres.alejo.yela@gmail.com",
    },
    {
        title: "Ingresar",
        label: "contacto",
        url: "https://dev-6tbiy7tc5eqhqb7k.us.auth0.com/authorize?response_type=code&client_id=JozbrwbE60QoHfD6hZiQy18zIQFxGEw0&redirect_uri=https%3A%2F%2Fwww.metropedia.net%2Flogin&state=STATE",
    },
];
---

<div
    class="z-10 header-wrapper flex justify-center fixed w-full dark:bg-secondary/80 backdrop-blur shadow-lg ring-1 ring-white/10"
>
    <header
        class="flex justify-between items-center max-w-screen-xl w-full lg:px-0 px-4"
    >
        <!--Preline navbar -->
        <nav
            class="max-w-[85rem] w-full mx-auto sm:flex sm:items-center sm:justify-between md:px-4"
        >
            <div class="flex items-center justify-between">
                <a href="/" class="relative flex items-center gap-3 min-w-max">
                    
                    <Image
                        src={logo.src}
                        alt={logo.alt}
                        width="256"
                        height="64"
                        class="hidden md:block metropedia h-14 md:h-16 relative z-20"
                    />
                    <Image
                        src={logo.mobileSrc}
                        alt={logo.alt}
                        width="240"
                        height="64"
                        class="md:hidden metropedia-mobile h-14 md:h-16 relative z-20"
                    />
                </a>

                <div class="sm:hidden">
                    <button
                        type="button"
                        class="hs-collapse-toggle relative size-7 flex justify-center items-center gap-x-2 bg-white text-neutral-800 shadow-sm hover:bg-neutral-50 focus:outline-none focus:bg-neutral-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-transparent dark:border-neutral-700 dark:dark:text-white dark:hover:bg-white/10 dark:focus:bg-white/10"
                        id="hs-navbar-example-collapse"
                        aria-expanded="false"
                        aria-controls="hs-navbar-example"
                        aria-label="Toggle navigation"
                        data-hs-collapse="#hs-navbar-example"
                    >
                        <svg
                            class="hs-collapse-open:hidden shrink-0 size-4"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            ><line x1="3" x2="21" y1="6" y2="6"></line><line
                                x1="3"
                                x2="21"
                                y1="12"
                                y2="12"></line><line
                                x1="3"
                                x2="21"
                                y1="18"
                                y2="18"></line></svg
                        >
                        <svg
                            class="hs-collapse-open:block hidden shrink-0 size-4"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            ><path d="M18 6 6 18"></path><path d="m6 6 12 12"
                            ></path></svg
                        >
                        <span class="sr-only">Toggle navigation</span>
                    </button>
                </div>
            </div>

            <!-- Search Input -->
            <div
                class="hidden md:block relative border rounded-sm border-neutral-400"
            >
                <div
                    class="absolute inset-y-0 start-0 flex items-center pointer-events-none z-20 ps-3.5"
                >
                    <svg
                        class="shrink-0 size-4 text-neutral-400 dark:dark:text-white/60"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        ><circle cx="11" cy="11" r="8"></circle><path
                            d="m21 21-4.3-4.3"></path></svg
                    >
                </div>
                <input
                    type="text"
                    class="py-2 ps-10 pe-16 block w-full bg-white border-neutral-200 rounded-sm text-sm focus:outline-none focus:border-primary-600 focus:ring-primary-600 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder:text-neutral-400 dark:focus:ring-neutral-600"
                    placeholder="Buscar"
                />
                <div
                    class="hidden absolute inset-y-0 end-0 flex items-center pointer-events-none z-20 pe-1"
                >
                    <button
                        type="button"
                        class="inline-flex shrink-0 justify-center items-center size-6 rounded-full text-neutral-500 hover:text-primary-600 focus:outline-none focus:text-primary-600 dark:text-neutral-500 dark:hover:text-primary-600 dark:focus:text-primary"
                        aria-label="Close"
                    >
                        <span class="sr-only">Close</span>
                        <svg
                            class="shrink-0 size-4"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            ><circle cx="12" cy="12" r="10"></circle><path
                                d="m15 9-6 6"></path><path d="m9 9 6 6"
                            ></path></svg
                        >
                    </button>
                </div>
                <div
                    class="absolute inset-y-0 end-0 flex items-center pointer-events-none z-20 pe-3 text-neutral-400"
                >
                    <svg
                        class="shrink-0 size-3 text-neutral-400 dark:dark:text-white/60"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        ><path
                            d="M15 6v12a3 3 0 1 0 3-3H6a3 3 0 1 0 3 3V6a3 3 0 1 0-3 3h12a3 3 0 1 0-3-3"
                        ></path></svg
                    >
                    <span class="mx-1">
                        <svg
                            class="shrink-0 size-3 text-neutral-400 dark:dark:text-white/60"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            ><path d="M5 12h14"></path><path d="M12 5v14"
                            ></path></svg
                        >
                    </span>
                    <span class="text-xs">/</span>
                </div>
            </div>

            <div
                id="hs-navbar-example"
                class="hidden hs-collapse overflow-hidden transition-all duration-300 sm:block"
                aria-labelledby="hs-navbar-example-collapse"
            >
                <div
                    class="flex flex-col gap-5 my-5 md:my-0 sm:flex-row sm:items-center sm:justify-end sm:mt-0 sm:ps-5"
                >
                    {
                        navItems.map((link) => (
                            <a
                                class="font-medium text-neutral-600 hover:text-neutral-400 focus:outline-none focus:text-neutral-400 dark:text-neutral-400 dark:hover:text-neutral-500 dark:focus:text-neutral-500"
                                aria-label={link.label}
                                href={link.url}
                            >
                                {link.title}
                            </a>
                        ))
                    }
                    <ThemeSwitch />
                    <a id="avatar-a" href="#">
                        <img
                            class="h-8 rounded-full border-green-500 border-2"
                            id="avatar-image"
                            src="https://openclipart.org/image/2000px/247319"
                            alt="avatar image"
                        />
                    </a>
                </div>
            </div>
        </nav>
        <!--end Preline navbar -->
    </header>
</div>

<!-- JavaScript para el Toggle del Menú -->
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const avatarImage = document.getElementById("avatar-image");
        const avatarA = document.getElementById("avatar-a");

        const userAuth0 = JSON.parse(localStorage.getItem("userData"));
        if (userAuth0) {
            avatarA.classList.remove("hidden");
            avatarA.classList.add("block");
            avatarImage.src = userAuth0.picture;
        } else {
            avatarA.classList.add("hidden");
            avatarA.classList.remove("block");
        }
    });
</script>

<!-- Estilos -->
<style>
    .metropedia {
        -webkit-mask-image: linear-gradient(
                to right,
                transparent,
                black 30%,
                black 70%,
                transparent
            ),
            linear-gradient(
                to left,
                transparent,
                black 30%,
                black 70%,
                transparent
            );
        mask-image: linear-gradient(
                to right,
                transparent,
                black 30%,
                black 70%,
                transparent
            ),
            linear-gradient(
                to left,
                transparent,
                black 30%,
                black 70%,
                transparent
            );
    }
    .metropedia-mobile {
    -webkit-mask-image: linear-gradient(
        to right, /* El gradiente va hacia la derecha */
        black,    /* Parte completamente visible (sin transparencia) */
        transparent 100% /* Empieza a desvanecerse al 70% */
    );
    mask-image: linear-gradient(
        to right,
        black,
        transparent 100%
    );
    -webkit-mask-repeat: no-repeat; /* Asegura que el gradiente no se repita */
    mask-repeat: no-repeat;
}

</style>
