---
import InfoCard from "./InfoCard.astro";
import CertificateIcon from "../icons/CertificateIcon.astro";
import CubeIcon from "../icons/CubeIcon.astro";
import StarIcon from "../icons/StarIcon.astro";
import NotebookIcon from "../icons/NotebookIcon.astro";
import SettingsCheckIcon from "../icons/SettingsCheckIcon.astro";

const ownToolsInfo = [
  {
    title: "Didácticos",
    description: [
      "Contenido claro y conciso",
      "Accesible",
      "Interfaz amigable",
    ],
    link: "#",
    icono: CubeIcon,
    color: "#ff7900",
  },
  {
    title: "Profesionales",
    description: [
      "Impartidos por expertos",
      "Experiencia en metrología",
      "Calidad de enseñanza",
    ],
    link: "#",
    icono: StarIcon,
    color: "#60a5fa",
  },
  {
    title: "Actualizados",
    description: [
      "Contenido actualizado",
      "Normativas internacionales",
      "Cumplimiento con estándares",
    ],
    link: "#",
    icono: NotebookIcon,
    color: "#ac94fa",
  },
  {
    title: "Prácticos",
    description: [
      "Ejemplos prácticos",
      "Estudios de caso",
      "Aplicaciones reales",
    ],
    link: "#",
    icono: SettingsCheckIcon,
    color: "#16bdca",
  },
];
---

<div
  class="px-4 w-full max-w-screen-xl text-center py-6 lg:py-auto h-auto align-middle"
>
  <div class="flex items-center justify-center mb-0">
    <CertificateIcon class="size-12 mr-2 stroke-[#fcb316]" />
    <h3 class="text-4xl font-semibold tracking-tight leading-none">
      Desarrolla tus propias habilidades.
    </h3>
  </div>
  <p class="mb-8 text-white/40 text-lg font-normal text-gray-300 lg:text-xl">
    Aprende como implementar y aplicar la normativa metrológica en tu contexto
    con los cursos disponibles
  </p>

  <div class="grid col-span-12 grid-cols-4 gap-4 mx-6">
    {
      ownToolsInfo.map((tool) => (
        <InfoCard
          title={tool.title}
          description={tool.description}
          link={tool.link}
          icono={tool.icono}
          color={tool.color}
        />
      ))
    }
  </div>

  <a
    href="/landing-cursos/"
    class="inline-flex justify-center items-center mt-8 py-3 px-5 text-base font-medium text-center text-[#252627] hover:text-white rounded-sm bg-[#fcb316] hover:bg-[#fcb316]/60 border border-primary hover:border-white focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900"
  >
    Más información
    <svg
      class="w-3.5 h-3.5 ms-2 rtl:rotate-180"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 14 10"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M1 5h12m0 0L9 1m4 4L9 9"></path>
    </svg>
  </a>
</div>
