---
import InfoCard from "./InfoCard.astro";
import CertificateIcon from "../icons/CertificateIcon.astro";
import CubeIcon from "../icons/CubeIcon.astro";
import StarIcon from "../icons/StarIcon.astro";
import NotebookIcon from "../icons/NotebookIcon.astro";
import SettingsCheckIcon from "../icons/SettingsCheckIcon.astro";

const ownToolsInfo = [
  {
    title: "Didácticos y Fáciles de Entender",
    description: [
      "Contenido claro y conciso",
      "Accesible para todos los niveles",
      "Interfaz amigable"
    ],
    link: "#",
    icono: CubeIcon,
    color: "#ff7900"
  },
  {
    title: "Profesionales",
    description: [
      "Impartidos por expertos",
      "Experiencia en metrología",
      "Calidad de enseñanza garantizada"
    ],
    link: "#",
    icono: StarIcon,
    color: "#60a5fa"
  },
  {
    title: "Actualizados a la Normativa Vigente",
    description: [
      "Contenido actualizado",
      "Normativas internacionales",
      "Cumplimiento con estándares"
    ],
    link: "#",
    icono: NotebookIcon,
    color: "#ac94fa"
  },
  {
    title: "Enfoque Práctico",
    description: [
      "Ejemplos prácticos",
      "Estudios de caso",
      "Aplicación en situaciones reales"
    ],
    link: "#",
    icono: SettingsCheckIcon,
    color: "#16bdca"
  }
];
---

<div class="px-4 w-full max-w-screen-3xl text-center py-24 lg:py-auto h-auto align-middle bg-[#49494a] bg-opacity-50">
  <div class="flex items-center justify-center mb-7">
    <CertificateIcon class="size-12 mr-2 stroke-[#fcb316]" />
    <h3 class="text-5xl font-semibold tracking-wider">Desarrolla tus propias herramientas.</h3>
  </div>
  <p class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48">Aprende como crear, implementar y aplicar herramientas metrológicas en tu contexto con los cursos disponibles</p>
  
  <div class="grid col-span-12 grid-cols-4 gap-4 mx-6">
    {ownToolsInfo.map((tool) => (
      <InfoCard 
        title={tool.title} 
        description={tool.description} 
        link={tool.link} 
        icono={tool.icono}
        color={tool.color}
      />
    ))}
  </div>
</div>
