---
import Card from "./Card.astro";
import CalculatorIcon from "../icons/CalculatorIcon.astro";
import GraphicIcon from "../icons/GraphicIcon.astro";
import ArrowsIcon from "../icons/ArrowsIcon.astro";
import ToolIcon from "../icons/ToolIcon.astro";

const tools = [
  { title: "Cifras Significativas", description: "Herramienta para calcular cifras significativas en mediciones.", icon: CalculatorIcon, class: 'Calculadora', color: '#60a5fa', link: "/cifras/" },
  { title: "Incertidumbre", description: "Calcula la incertidumbre en tus mediciones.", icon: CalculatorIcon, class: 'Calculadora', color: '#60a5fa', link: "/cifras/" },
  { title: "Unidades", description: "Convierte unidades de diversas magnitudes.", icon: ArrowsIcon, class: 'Conversor', color: '#fcb316', link: "/cifras/" },
  { title: "Media y Desviación", description: "Calcula la media y desviación estándar de un conjunto de datos.", icon: CalculatorIcon, class: 'Calculadora', color: '#60a5fa', link: "/desviacion/" },
  { title: "Generador de Gráficos", description: "Genera gráficos para visualizar datos metrológicos.", icon: GraphicIcon, class: 'Graficador', color: '#86efac', link: "/cifras/" },
  { title: "Notación científica", description: "Convierte entre notación científica y decimal.", icon: ArrowsIcon, class: 'Conversor', color: '#fcb316', link: "/scientific/" },
];
---

<div class=" flex items-center justify-center max-w-screen-xl w-full">
  <div class="w-full">
    <div class="flex items-center justify-center mb-3">
      <ToolIcon class="size-10 mr-2 stroke-[#fcb316]" />
      <h3 class="text-4xl font-semibold tracking-wider">Herramientas más usadas.</h3>
    </div>
    <p class="flex items-center justify-center mb-10 text-white/40 text-lg font-normal text-gray-300 lg:text-xl">Explora y utiliza nuestras herramientas metrológicas para mejorar la precisión y exactitud en tus mediciones y análisis de datos.</p>

    <div class="grid grid-cols-2 md:grid-cols-3 gap-10">
      {tools.map((tool) => (
        <Card title={tool.title} description={tool.description} icon={tool.icon} clase={tool.class} color={tool.color} link={tool.link} />
      ))}
    </div>
  </div>
</div>
