---
import Card from "./Card.astro";
import CalculatorIcon from "../icons/CalculatorIcon.astro";
import GraphicIcon from "../icons/GraphicIcon.astro";
import ArrowsIcon from "../icons/ArrowsIcon.astro";
import ToolIcon from "../icons/ToolIcon.astro";

const tools = [
  { title: "Cifras Significativas", description: "Herramienta para calcular cifras significativas en mediciones.", icon: CalculatorIcon, class: 'Calculadora', color: '#60a5fa', link: "/cifras/" },
  { title: "Intervalos de calibración", description: "Calcula intervalos de calibración de tus equipos.", icon: CalculatorIcon, class: 'Calculadora', color: '#60a5fa', link: "/intervals/" },
  { title: "Corrección", description: "Utiliza regresión para calcular correccion de CA", icon: GraphicIcon, class: 'Graficador', color: '#86efac', link: "/graphics/" },
  { title: "Notación científica", description: "Convierte entre notación científica y decimal.", icon: ArrowsIcon, class: 'Conversor', color: '#fcb316', link: "/scientific/" },
  { title: "Incertidumbre", description: "Calcula la incertidumbre de tus mediciones.", icon: CalculatorIcon, class: 'Calculadora', color: '#60a5fa', link: "/uncertainly/" },
  { title: "Media y Desviación", description: "Calcula la media y desviación estándar de un conjunto de datos.", icon: CalculatorIcon, class: 'Calculadora', color: '#60a5fa', link: "/desviacion/" },
];
---

<div class="flex items-center justify-center max-w-screen-xl mx-auto p-4 sm:p-6 md:p-8">
  <div class="w-full">
    <!-- Título -->
    <div class=" inline-flex items-center justify-center md:text-center mb-4 md:mb-6">
      <ToolIcon class="size-8 sm:size-10 mr-2 stroke-[#fcb316]" />
      <h3 class="text-xl md:text-2xl lg:text-3xl font-semibold tracking-tight leading-tight">
        Herramientas más usadas.
      </h3>
    </div>
    <!-- Descripción -->
    <p class="flex items-center justify-center md:text-center mb-6 md:mb-10 text-white/40 text-base sm:text-lg md:text-xl font-normal text-gray-300 px-2 sm:px-0">
      Explora y utiliza nuestras herramientas metrológicas para mejorar la precisión y exactitud en tus mediciones y análisis de datos.
    </p>
    <!-- Grid de herramientas -->
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 sm:gap-6">
      {tools.map((tool) => (
        <Card title={tool.title} description={tool.description} icon={tool.icon} clase={tool.class} color={tool.color} link={tool.link} />
      ))}
    </div>
  </div>
</div>
