---
import Layout from "../../layouts/Layout.astro";
const { courseId } = Astro.params;
import courseData from "../../courseData";
import CertificateIcon from "../../icons/CertificateIcon.astro";

const selectedObject = courseData.filter(
  (course) => course.id === Number(courseId),
);
const selectedCourse = selectedObject[0];
console.log(selectedCourse);

const numberToWord = {
  1: "one",
  2: "two",
  3: "three",
  4: "four",
  5: "five",
  6: "six",
  7: "seven",
  8: "eight",
  9: "nine",
  10: "ten",
};
---

<Layout title="Metropedia.">
  <div class="md:pt-20 pt-10 h-auto flex bg-[#191919]">
    <div
      class="text-[#9a9a9a] font-semibold p-6 md:p-10 flex gap-5 w-full max-w-7xl mx-auto relative"
    >
      <div class="max-w-4xl">
        <p class="flex gap-3">
          <a href="#"
            ><span class="text-[#ffd16f] text-sm md:text-base">
              Cursos
            </span></a
          >
          &#62;
          <a href="#"
            ><span class="text-[#ffd16f] text-sm md:text-base">
              {selectedCourse.category}
            </span></a
          >
          &#62;
          <a href=""
            ><span class="text-[#ffd16f] text-sm md:text-base"
              >{selectedCourse.course}</span
            ></a
          >
        </p>
        <img
          src={selectedCourse.image}
          alt="Two each of gray, white, and black shirts laying flat."
          class="rounded-sm md:hidden my-3 w-full h-44 object-cover object-center"
        />

        <h2 class="text-white my-5 md:my-8 text-2xl md:text-3xl font-extrabold">
          {selectedCourse.course}
        </h2>

        <p class="mb-0 text-sm md:text-base">
          {selectedCourse.description}
        </p>
        <div class="mb-5 flex md:hidden">

          <a
            href="https://dev-6tbiy7tc5eqhqb7k.us.auth0.com/authorize?response_type=code&client_id=JozbrwbE60QoHfD6hZiQy18zIQFxGEw0&redirect_uri=https%3A%2F%2Fmetropedia.vercel.app%2Flogin&state=STATE"
            class="bg-primary text-center text-secondary border border-transparent hover:border-primary font-bold tracking-tight px-3 py-2 rounded-sm mt-3 mb-1 w-full hover:bg-[#f1c669]">
            Tomar curso
          </a>
        </div>
        <div class="flex items-center gap-3 text-xs my-3">
          <p class="bg-[#f1c669] text-secondary py-1 px-2">Lo más vendido</p>
          <p class="text-primary">
            {selectedCourse.rating} ({selectedCourse.students} calificaciones)
          </p>
          <p>{selectedCourse.students} estudiantes</p>
        </div>
        <p class="text-sm">
          Creado por <span class="text-[#f1c669]"
            >Andrés Alejandro Yela Bastidas</span
          >
        </p>
        <div class="flex items-center gap-3 text-sm my-3 text-white">
          <p>Última actualización: {selectedCourse.lastUpdated}</p>
          <p>{selectedCourse.language}</p>
        </div>
        <div class="bg-secondary my-10 w-full p-5">
          <p class="text-white text-lg">Lo que aprenderás:</p>

          <div
            class="w-full my-3 text-neutral-900 bg-white border border-neutral-200 rounded-sm dark:bg-transparent dark:border-neutral-600 dark:text-[#9a9a9a]"
          >
            {
              selectedCourse.highlights.map((highlight) => (
                <button
                  type="button"
                  class="relative inline-flex text-start items-center w-full px-4 py-2 text-xs md:text-sm font-medium border-b border-neutral-200 rounded-t-lg hover:bg-neutral-100 hover:text-primary focus:z-10 focus:ring-2 focus:ring-primary focus:text-primary dark:border-neutral-600 dark:hover:bg-neutral-600 dark:hover:text-white dark:focus:ring-neutral-500 dark:focus:text-white"
                >
                  <svg
                    class="md:w-3 md:h-3 w-8 me-2.5"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                  >
                    <path d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm0 5a3 3 0 1 1 0 6 3 3 0 0 1 0-6Zm0 13a8.949 8.949 0 0 1-4.951-1.488A3.987 3.987 0 0 1 9 13h2a3.987 3.987 0 0 1 3.951 3.512A8.949 8.949 0 0 1 10 18Z" />
                  </svg>
                  {highlight}
                </button>
              ))
            }
          </div>
          <p class="text-white text-lg mt-5">Este curso incluye:</p>
          <div class="md:grid grid-cols-2 my-2 gap-2 text-xs md:text-base">
            {
              selectedCourse.includes.map((include) => (
                <div class="inline-flex gap-2 items-center">
                  <CertificateIcon />
                  <p>{include}</p>
                </div>
              ))
            }
          </div>
        </div>

        <div class="hs-accordion-group data-hs-accordion-always-open">
          <h3 class="text-white text-2xl mb-3">Contenido del curso.</h3>

          {
            selectedCourse.modules.map((module, indexa) => (
              <div
                class={`hs-accordion ${indexa == 0 ? "active" : ""}`}
                id={`hs-basic-with-title-and-arrow-stretched-heading-${numberToWord[indexa + 1]}`}
              >
                <button
                  class="hs-accordion-toggle text-lg hs-accordion-active:text-primary py-3 inline-flex items-center justify-between gap-x-3 w-full font-semibold text-start text-neutral-500 hover:text-neutral-300 rounded-lg disabled:opacity-50 disabled:pointer-events-none"
                  aria-expanded={indexa == 0 ? "true" : "false"}
                  aria-controls={`hs-basic-with-title-and-arrow-stretched-collapse-${numberToWord[indexa + 1]}`}
                >
                  {module.title}
                  <svg
                    class="hs-accordion-active:hidden block size-4"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path d="m6 9 6 6 6-6" />
                  </svg>
                  <svg
                    class="hs-accordion-active:block hidden size-4"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path d="m18 15-6-6-6 6" />
                  </svg>
                </button>
                <div
                  id={`hs-basic-with-title-and-arrow-stretched-collapse-${numberToWord[indexa + 1]}`}
                  class={`hs-accordion-content w-full overflow-hidden transition-[height] duration-300 ${indexa != 0 ? "hidden" : ""}`}
                  role="region"
                  aria-labelledby={`hs-basic-with-title-and-arrow-stretched-heading-${numberToWord[indexa + 1]}`}
                >
                  <ol class="relative border-s border-neutral-200 dark:border-neutral-700">
                    {module.content.map((sub) => (
                      <li class="mb-5 ms-4">
                        <div class="absolute w-3 h-3 bg-neutral-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-neutral-900 dark:bg-neutral-700" />
                        <time class="mb-1 text-sm font-normal leading-none text-neutral-400 dark:text-neutral-500">
                          Día {indexa}
                        </time>
                        <h3 class="text-base font-semibold text-neutral-900 dark:text-white">
                          {sub.subtitle}
                        </h3>
                        <p class="mb-4 text-base font-normal text-neutral-500 dark:text-neutral-400">
                          {sub.description}
                        </p>
                      </li>
                    ))}
                  </ol>
                </div>
              </div>
            ))
          }
        </div>
        <div class="gap-3 flex flex-col">
          <h3 class="text-white text-2xl mb-3 my-10">Descripción.</h3>
          <p>
            {selectedCourse.long_description}
          </p>
          <p>Con el curso en {selectedCourse.course} vas a:</p>

          <ul class="list-disc pl-5">
            {selectedCourse.highlights.map((highlight) => <li>{highlight}</li>)}
            <li>¡Y mucho más!</li>
          </ul>
          <p>
            Yo soy Alejandro Yela, tengo más de 4 Años de experiencia trabajando
            en Metrología y Software, he dado clases y participado en distintos
            congresos, y apoyado a la formación en el Servicio Nacional de
            Aprendizaje de Colombia SENA, y soy quien diseñó este curso. Empieza a aprender ya mismo!
          </p>
        </div>
      </div>
      <div
        class="hidden md:block bg-white p-1 max-w-xs max-h-max sticky right-0 top-24"
      >
        <img
          class="object-cover h-48 w-full"
          src={selectedCourse.image}
          alt=""
        />
        <div class="flex w-full items-center justify-center">
          <a
            href="#"
            class="border w-1/2 text-center py-3 border-b-black text-black"
          >
            Personal
          </a>
          <a href="#" class="border w-1/2 text-center py-3">Empresa</a>
        </div>
        <div class="p-4">
          <p class="text-black text-lg font-extrabold leading-tight mb-1">
            Toma este curso y certifícate con Metropedia
          </p>
          <p class="text-[#696969] text-sm">
            Consigue este curso y más de 2000 de nuestros cursos mejor valorados
            por los ususarios. <a class="underline" href=""
              >Más información</a
            >
          </p>
          
          <div class="relative flex py-3 items-center">
            <div class="flex-grow border-t border-neutral-400"></div>
            <span class="flex-shrink mx-4 text-neutral-400">o</span>
            <div class="flex-grow border-t border-neutral-400"></div>
          </div>
          <p class="text-black font-extrabold text-2xl tracking-tight">
            $ {selectedCourse.price} COP
          </p>

          <div class="my-5 flex">

            <a
              href="https://dev-6tbiy7tc5eqhqb7k.us.auth0.com/authorize?response_type=code&client_id=JozbrwbE60QoHfD6hZiQy18zIQFxGEw0&redirect_uri=https%3A%2F%2Fmetropedia.vercel.app%2Flogin&state=STATE"
              class="bg-primary text-center text-secondary border border-transparent hover:border-primary font-bold tracking-tight px-3 py-2 rounded-sm mt-3 mb-1 w-full hover:bg-[#f1c669]">
              Tomar curso
            </a>
          </div>
          <p class="text-xs text-center">
            Inicia en dos días hábiles
          </p>
          
          <p class="text-xs text-center">Garantía de reembolso de 30 días</p>
        </div>
      </div>
    </div>
  </div>
</Layout>
